<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Remotes</title>
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/all.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Go Remote Import</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/remotes/">Remotes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users/">Users</a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/sign-out/">
                            <i class="fas fa-sign-out d-none d-lg-inline-block"></i>
                            <span class="d-lg-none">Sign-Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<main class="container mt-5">
    <div class="mb-5 text-center">
        <span class="h3">Are you sure you want to delete "{{ .Remote.Name }}"?</span>
    </div>

    <form method="post" class="row">
        <div class="col-12 col-lg-6 mt-3">
            <a href="/admin/remotes/" class="btn btn-outline-light w-100">Cancel</a>
        </div>
        <div class="col-12 col-lg-6 mt-3">
            <button type="submit" class="btn btn-outline-danger w-100">Delete</button>
        </div>
    </form>
</main>
<footer class="fixed-bottom text-center text-white-50">
    <p>Created by <a href="https://www.evolves.fr/" target="_blank" class="text-white">Evolves</a> - Version {{ version }}</p>
</footer>
<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>